# Ignore the virtual environment
.venv/
venv/
env/

# Ignore your private data
data/
*.pdf
*.txt
*.docx
*.xlsx
*.csv

# Ignore your secret API keys
.env

# Ignore Python cache files
__pycache__/
*.pyc