fastapi
uvicorn
pydantic
python-multipart
python-jose[cryptography]
passlib[argon2]
sqlalchemy
psycopg2-binary
qdrant-client
sentence-transformers
openai
python-dotenv
langchain
langchain-community
langchain-text-splitters
unstructured
unstructured[pdf]
docx2txt
openpyxl
pandas
